body{
   
    margin: 0em;
}
html {
 scroll-behavior: smooth;
}
.fas{
    font-size: 40px;
    margin-top: 1em;
    margin-bottom: 1em;
  
    color: #386929;
  }
  .arrow{
     margin-left: 2em;
     margin-right: 2em;
  }
  .fas:hover{
    color: #151f12;
  }
  .fa-arrow-circle-right{
    float: right;
  }
  
  @import url(https://fonts.googleapis.com/css?family=Roboto:100,300);
  @import url(https://fonts.googleapis.com/css?family=Special+Elite);
  .box{
    margin: 0 auto;
    width: 80vw;
    min-height: 60vh;
    box-sizing: border-box;
    /* background:rgb(27, 46, 30); */
    background-size:80%;
    font-family: Roboto;
    font-weight: 300;
  }
  
  .main {
    text-align: center;
  }
  
  .list {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    width: 100%;
    transition: all 300ms ease-in-out;
    min-height: 450px;
  }
  .list__pros {
    width: 80%;
  
  }
  .list__pros h2 {
    width: 100%;
    font-family: "Roboto";
    letter-spacing: 0.1rem;
    font-size: 3rem;
    color: rgba(255, 255, 255, 0.35);
    font-weight: bold;
    background-color: inherit;
    border-bottom: 5px solid rgba(42, 75, 42, 0.897);
  }
  .list__pros h2 span {
    color: green;
    font-weight: normal;
  }
  .list__line {
    width: 0%;
    border-right: 5px solid rgba(42, 75, 42, 0.897);
  
  }
  .list__cons {
    width: 80%;
  }
  .list__cons h2{
    width: 100%;
    font-family: "Roboto";
    letter-spacing: 0.1rem;
    font-size: 3rem;
    color: rgba(255, 255, 255, 0.35);
    font-weight: bold;
    background-color: inherit;
    border-bottom: 5px solid rgba(42, 75, 42, 0.897);
  }
  .list__cons h2 span {
    color: red;
    font-weight: bold;
  }
  
  
  
  
  .fixed {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
  }
  .fixed .pros {
    width: 50%;
    height: 0.5rem;
    background-color: green;
  }
  .fixed .cons {
    width: 50%;
    height: 0.5rem;
    background-color: red;
  }
  .pros_li{
      color:#3a9623;
      font-weight: 900;
      font-size: 18px;
      list-style-type: "✔";
  }
  .cons_li{
      color:rgba(255, 0, 0, 0.733);
      font-weight: 900;
      font-size: 18px;
      list-style-type: "✖";
  }
  .pros_li li, .cons_li li{
      padding:1em;
      padding-top: 0em;
  }