footer{
    background-color :#91eb75;
 
}
.conteiner{
    margin: 0 auto;
    text-align: center;
    padding: 2em;
}

.conteiner_item {
    margin:0em;
    color: #334936;
    text-transform: uppercase;
    font-family: 'Bad Script', cursive;
    letter-spacing: 0.4em;
}
.name{
    color: #334936;
    text-transform: uppercase;
    font-size: 30px;
    margin:0em;
    /* padding-top: 1em; */
    margin-bottom: 0.6em;
    
 font-family: 'Bad Script', cursive;
  font-weight: 900;
}
.copy-right::before{
    content: '\00A9';
    
}
.copy-right{
    width: 100% ;
    margin-top: -0.8em;
    padding-top: 0.7em;
    font-weight: 900;
    font-size: 14px;
      font-family: "Playfair Display", serif;
      color: #334936
}
.icons{
    padding: 3em 0em;
    padding-bottom: 1em;
}
.icons>a:hover{
    background-color:  #243126;
}
.icons>a{
    display: inline-block;
    padding:0.5em;
    background-color: #648f6b;
    border-radius: 50%;
    margin-right:0.8em;
    width: 40px;
    height: 40px;

}

.icon{
    /* text-align: center; */
    padding:0.1em;
    color: #fff;
    font-size: 20px;
}
.name_author{
    color: #334936;
    text-decoration: underline #334936 dotted;
}